*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --Dourado:#A67F16;
    --Bege:#E3D3B2;
    --Amarelo-Dourado:#D9BF3D;
    --Preto:#2D2B24;
    --Branco:#FFFFFF;
    --Cinza:#625C5C;
    --Amarelo:#F0DA30;
    --Amarelo-ouro:#EEBE3B;
    --Verde-Escuro:#2B8C70;
    --Marrom:#6A510B;
    --Laranja:#FF5900;
    --fonte-titulo:"Geologica", sans-serif;
    --fonte-texto:"Inter", sans-serif;
}
body{
    font-family: var(--fonte-texto);
}
.container{
 max-width: 1300px;
 margin: 0 auto;
}
#topo{
    height: 1024px;
    padding: 20px 40px;
    background-image: url(Imagens/Captura\ de\ tela\ 2025-10-19\ 113042.png);
    background-size: cover;
    background-position: center;
}
.grid-topo{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin: 0;
}
#inicio-topo{
    grid-column: 2/4;
}
.grid-topo > h2{
    grid-column: 1/3;
     font-family: var(--fonte-titulo);
     font-size:3rem ;
     text-align: center;
     color: var(--Branco);
     line-height: 100%;
     margin-top: 20px;
     text-shadow: 0px 4px 4px #00000060;
}
.grid-topo > h2 > span{
    color: var(--Amarelo);
}

.grid-topo > h3{
    grid-column: 1/3;
     font-family: var(--fonte-titulo);
     font-size:2.6rem ;
    color: var(--Branco);
    line-height: 100%;
    margin-top: 20px;
     text-shadow: 0px 4px 4px #00000060;
}
.grid-topo > h3 > i > span{
    color: var(--Amarelo-Dourado);

}
#inicio-topo > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 80px;
    text-align: center;
    margin-left: 300px;
}
#inicio-topo a {
    font-size: 1.7rem;
    font-family: var(--fonte-titulo);
    color: var(--Branco);
    text-decoration: none;
}
#inicio-topo a:hover{
    color: var(--Amarelo);
    text-decoration: underline;
}
.grid-topo > ul{
     color: var(--Amarelo-Dourado);
     font-size: 1.5rem;
     grid-column: 1;
     grid-column-start: 1;
    grid-column-end:3 ;
    margin-top: 28px;
    line-height: 1.8;
}
#info{
 background-image: url(Imagens/imagem.escola.png);
 max-width: 100%;
 background-size: 100%;
 background-repeat: no-repeat;
padding: 20px 10px;
}
#info h2{
    font-family: var(--fonte-titulo);
    font-size: 3.8rem;
    text-align: center;
    font-weight: 600;
    color:var(--Branco);
    background-color: var(--Dourado) ;
    width: 100%;
    padding: 50px;
    height: 170px;

}
#info .icones{
    display: grid;
    margin-bottom: -260px;
    grid-template-columns: repeat(4, 1fr);
}
.icones article{
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin: 210px;
}
.icones h4{
    text-align: center;
    font-size: 2rem;
    color: var(--Branco);
    background-color: var(--Verde-Escuro);
    font-weight: 700;
    width:180px ;
    height:50px ;
    padding: 4px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: var(--fonte-titulo);
}
.icones a{
    font-size: 1.7rem;
    font-family: var(--fonte-titulo);
    text-decoration: none;
}
.icones a:hover{
    color:var(--Amarelo-ouro);
    text-decoration: underline;
}
.cor-icones a > h4{
    color: var(--Verde-Escuro);
    background-color:#D9D9D9 ;
    text-align: center;
}
.corcinza a > h4{
    color: var(--Verde-Escuro);
    background-color:#D9D9D9 ;
    height:50px ;
    width:270px;
    padding: 4px;
    text-align: center;
}
#projetos{
    background-color: var(--Bege);
    min-height: 100%;
    width: 100%;
    padding-bottom: -200px;
  
  
    
}
.sociais{
    padding-bottom: 150px;
}
.projeto-em-andamento{
text-align: center;
color: var(--Branco);
font-size: 2rem;
background-color: var(--Dourado);
    width:100% ;
    height:150px ;
    font-family: var(--fonte-titulo);
   
}
.andamento{
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    display: grid;
  
}
.andamento h3{
    background-color: var(--Cinza);
    border-radius: 10px;
  padding: 20px;
  width: 55%;
margin-top: 40px;
border-radius: 10px;
    
}
.textos1{
  color:var(--Preto);
  padding: 10px;
 border-radius: 3px;
 text-align: auto;
 border-radius: 4px;
 height: 200px;
 grid-row: 2;
 grid-column: 1;
 display: grid;
}

.foto1{
    float: right;
    margin-top: 40px;
   display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  background-color:var(--Amarelo-ouro);
  max-width: 900px;
  margin: 40px auto;
  grid-row: 2 / 4;
  grid-column: 2;
  display: grid;
}

.foto2{
   margin-top: 170px;
   border: 2px solid black;
   border-radius: 8px;
   background-color: var(--Amarelo-ouro);
   width: 700px;
}

#emprego{
    background-color: var(--Bege);
    height: 1800px;
}


.trabalho-titulo{
    text-align: center;
color: var(--Branco);
font-size: 2rem;
background-color: var(--Dourado);
width:2060px ;
height:150px ;
    font-family: var(--fonte-titulo);
    margin: 0;
    margin-left: -400px;
}
.oportunidades h3{
    font-size: 35px;
    font-weight: 600px;
    font-family: var(--fonte-titulo);

}
.oportunidades p{
    font-size: 25px;
    color: #625C5C;
}
.oportunidades article{
    border: 6px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.oportunidades a{
    color: var(--Branco);
    font-size: 40px;
    font-weight: 600;
    background-color: #6A510B;
    border-radius: 15px;
    width: 600px;
    height: 100px;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 350px;
    font-family: var(--fonte-titulo);
    display: flex;
    padding: 10px;
    align-items: center;
    text-align: center;
    border: 6px solid black;
    margin-top: 70px;
}
.im1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;

}
.im2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
}
#denuncias{
    background-color:#D9D9D9;
}
#comunidade{
    background-color: var(--Bege);
    height:1700px;
}
.local p{
    font-size: 20px;
    text-align: center;
}
.local ul{
    font-size: 40px;
    font-weight: 500;
    border:10px solid #000;
    border-radius:10px 30px;
}
.local li{
    margin: 40px;
}
.local img{
    margin-right: 10px;
    margin-top: 20px;
    border: 20px double black;
    border-radius: 20px;
    margin-bottom: 50px;
}
#img1{
    width: 600px;
    height: 500px;
    margin-bottom: 200px;
    
}
#img2{
    margin-left: 50px;
    margin-bottom: 200px;
    width: 600px;
    height: 500px;
}
#botaoentre{
    width: 300px;
    margin-top: -100px;
    margin-right: 20px;
}

.juntos{
  text-align: center;
color: var(--Branco);
font-size: 2rem;
background-color: var(--Dourado);
    width:2060px ;
    height:150px ;
    font-family: var(--fonte-titulo);
    margin: 0;
    margin-left: -400px; 


}

.local a{
    color: var(--Branco);
    font-size: 40px;
    font-weight: 600;
    background-color: #6A510B;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 550px;
    font-family: var(--fonte-titulo);
    display: flex;
    padding: 10px;
    align-items: center;
    text-align: center;
   border: 6px solid black;
    
}

.local a:hover{
    color:var(--Amarelo-ouro);
    text-decoration: underline;
}
.local p{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}
.soliedariedade{
    border-radius: 3px;
   
}
#meio h3{
    color: var(--Branco);
}
#formmain{
    background-color: #586369;
    padding: 40px auto;
}
#form label{
    background-color: var(--laranja);
    border-radius: 10px;
    padding: 2px 10px;
}
#formmain button{
    width: 130px;
    height: 50px;
    font-size:30px ;
    background-color:#A67F16;
    font-weight: 900;
    border-radius: 7px;
    margin-top: 50px;
}
#form input{
    margin: 15px auto;
    width: 300px;
    height: 30px;
}
#form{
    background-color: var(--beje);
    width: 500px;
    margin:auto;
    padding: 50px;
    font-size: 30px;
}
#form h1{
    font-size: 50px;
}
#form h2{
    font-size: 30px;
    margin-bottom: 10px;
}
@media screen and (max-width:1024px){
    .grid-topo img{
        width: 150px;
    }
    #inicio-topo{
        margin-left: -250px;
    }
    #inicio-topo a{
        color: var(--Branco);
        font-size: 1rem;
        gap: 5px;
        margin-left: -30px;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .andamento{
        display: flex;
        flex-direction:column ;
        gap: 50px;
      
    }
    .foto1{
        width: 550px;
        margin-right: 50px;
      margin-top: 5px;
      
    }
    .foto1 img{
        width: 500px;
        margin-left: 10px;
        height: 250px;


    }
    .foto2{
        width: 200px;
        margin-top: -60px;
        width: 400px;
        height: 250px;

      
    }
    
    .foto2 img{
        margin-left: 50px;
        width: 100px;
        margin-top: -20px;
    }
    .texto2{
        background-color: var(--Amarelo-ouro);
        border:2px solid black;
        height: 310px;
        width: 480px;
    }
    

    .icones img{ 
        max-width: 190px; 
         max-height: 190px;
         margin-right: 0px;
}

.icones article {
    max-width: 0px;
    margin: 150px
}
.rev1{
    background-color: var(--Amarelo-ouro);
    border:2px solid black;
}
.textos1{
    margin-left: 10px;
}
.revitalizacao{
    align-items: center;
    text-align: center;
}

.im1 img{
    width: 400px;
}
.im2 img{
    width: 400px;
}
.trabalho-titulo{
    width: 1420px;
}
.trabalho-titulo > h2{
    margin-left: 300px;
}
.oportunidades a{
    margin-left: 0px;
    margin: 0px auto;
}
#emprego{
    height: 1500px;
}
#denunciar {
    font-size: 1.7rem;
}
.juntos{
    width: 1420px;
    text-align: center;
}
.juntos h2{
    margin-left: 350px;
}
.local{
    margin-top: -100px;
}
#flex a{
    margin-left: 30px;
    margin-bottom: 200px;
}
#flex img{
    width: 450px;
}
#img2{
    height: 500px;
}
#comunidade{
    height: 1800px;
}
#comunidade a{
    margin-left: 300px;
}
#meio{
    margin-top: 50px; 
}
#redes{
    margin: 0px;
    gap: 0px;
}
#redes a{
    width: 20px;
    margin-left: -50px;
}
.local p{
     font-size: 20px;
}
.rodape{
    margin: 0px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: -50px;
}
#rodape{
    background-color: var(--Preto);
    height: 300px;
}
#gotham{
    margin-top: 50px;
    color: var(--Branco);
}
#meio{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--Marrom);
    height: 100px;
}
#meio img{
    margin-left: 80px;
    margin-top: -50px;
}
    }
@media  screen and (max-width:768px){
    #inicio-topo a {
        font-size: 0.8rem;
        color: var(--Branco);
        text-decoration: none;
       margin-right: 20px;
      display: flex;
      width: 10px;
      margin-left: -10px;


}
    #inicio-topo{
        margin-left: -280px;
    }
   .grid-topo h2{
        font-size: 3.5rem;
        margin-bottom: 30px;
}

.grid-topo h3{
    font-size: 2.4rem;
    margin-bottom: 10px;
}
.grid-topo > ul{
    color: var(--Amarelo-Dourado);
    font-size: 1.7rem;
    grid-column: 1;
    grid-column-start: 1;
   grid-column-end:3 ;
   margin-bottom: 28px;
   line-height: 1.8;

}
.grid-topo img{
    margin-right: 20px;
    padding-right: -30px;
}
#info h2{
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    color:var(--Branco);
    background-color: var(--Dourado) ;
    width: 106%;
    padding: 50px;
    height: 170px;
    margin: -39px;
}
#info .icones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.sociais{
height: 400px;

}
.icones article{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin: 60px;
    margin-left: -40px;
    margin-bottom: 300px;
    max-width: 250px ;
    max-height: 200px;

}
.icones img{
    max-width: 160px;
    max-height: 170px;
    margin-right: 0px;
    text-align: center;
    margin: 5px;
    
}
.icones h4{
    text-align: center;
    font-size: 1.2rem;
    color: var(--Branco);
    background-color: var(--Verde-Escuro);
    width:110px ;
    height:35px ;
    padding: 4px;


}
.icones a{
    font-size: 1.2rem;
    font-family: var(--fonte-titulo);
    text-decoration: none;
}
.icones{
    margin-left: 100px;
}
.corcinza a > h4{
    color: var(--Verde-Escuro);
    background-color:#D9D9D9 ;
    height:40px ;
    width:190px;
    padding: 9px;
    text-align: center;
    margin: 32px;
    margin-top: 10px;
}
#comunidade{
    height: 1650px;
}
.trabalho-titulo{
    text-align: center;
color: var(--Branco);
font-size: 1.8rem;
background-color: var(--Dourado);
width:1165px ;
height:130px ;
    font-family: var(--fonte-titulo);
    margin: 0;
    margin-left: -400px;
}
.oportunidades img{
    width: 140px;
}

.oportunidades h3{
    font-size: 1.6rem;
}
.oportunidades p{
    font-size: 1.3rem;
    margin-bottom: 8px;
}
.oportunidades a{
    max-width: 660px;
    height: 100px;
   padding: -100px;

}
#flex img{
    width: 370px;
    margin: 0px;
    height: 350px;
    margin-left: 10px;
    margin-top: 20px;
}    
#botaoentre{
    margin: 0px;
    margin: 20px auto;
    margin-right: 140px;
}
.juntos{
    margin: 0px;
    width: 768px;
}
.juntos h2{
    margin: 0px;
}
#emprego{
    height: 900px;
}
}
@media screen and (max-width:425px){
    .grid-topo img{
        width:140px;
    }
    #inicio-topo ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        margin-right: 10px;
    }
    #inicio-topo a{
        margin-left: 5px;
        font-size: 0.9rem;
        margin: -25px auto;
    }
    .grid-topo h2{
        font-size: 2rem;
        width: 300px;
        margin:20px auto;
        margin-left: -50px;
    }
    #info .icones{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-left: 0px;
    }
    #info .icones article{
        margin: 0px;
        margin: 10px auto;
    }
    #info h2{
        font-size: 3rem;
        width: 425px;
        margin: 20px;
        margin-left: -10px;
    }
    #info{
        height: 1000px;
        background-repeat: repeat;
        background-size: auto;
    }
    .foto1{
        margin-right:20px;
        width: 370px;
    }
    .foto1 img{
        width: 350px;
        margin-left:0px;
    }
    .revitalizacao h3{
        height: 110px;
        margin-top: 300px;
    }
    .im1{
        flex-wrap: wrap;
    }
    .im1 img{
        width: 320px;
    }
    .trabalho-titulo{
        width:425px;
        margin: 0px;
    }
    .trabalho-titulo h2{
        margin: 0px;
    }
    #emprego{
        height: 2200px;
    }
    .oportunidades a{
        font-size: 30px;
        width: 400px;
    }
    #dado1 h4{
        width:100px;
    }
    #dado2 h4{
        width: 100px;
    }
    .juntos{
        margin: 0px;
        width: 425px;
    }
    .juntos h2{
        font-size: 2.5rem;
        margin: 0px;
    }
    .local p{
        font-size: 20px;
        margin: 0px;
        margin-top: 100px;
    }
    .solidariedade strong li{
        font-size: 20px;
    }
    #flex img{
        width: 400px;
        height: 350px;
        margin: 0px;
        margin: 5px;
        margin-left: 12px;
    }
    #flex a{
        margin: 0px;
        margin: 5px auto;
    }
    #comunidade{
        height: 1650px;
    }
    #gogo-baixo{
        width: 70px;
        margin-bottom:-60px;
    }
    #rodape{
        margin-top: -50px;
    }
    #ulli{
        font-size:24px ;
    }
}
